{% extends 'timetable/base.html' %}

{% block tilte %} <h1>Les créneaux disponibles <h1> {% endblock tilte %}


    
    {% block header %} 
    <div class="container mt-5">
      <h2 class="text-center alert text-white bg-primary">GESTION DES EMPLOIS DU
        TEMPS</h2>

    </div>

    {% endblock header %}

    {% block content %}
    <div class="container mt-1">
      <form name="myform" action="index13b.php" method="GET" onsubmit="return
        verifier()">
        <div class="row g-3">

          <!-- Choix du cours -->
          <div class="col-sm-4">
            <label for="cours" class="form-label">FILIERE</label>
            <select class="form-control" name="cours">
              <option value="none" selected>&#x3008;aucun&#x3009;</option>
              <option value="1">INF (LGI)</option>
              <option value="2">INF (LMI 1)</option>
              <option value="3">MATH 21 (LMI 2)</option>
              <option value="4">MATH
                (LSEE)</option>
              <option value="5">INF2311 (Initiation au développement Web)</option>
              <option value="6">INF (analyse numerique)</option>
              <option value="7">INF (Analyse)</option>
              <option value="501">math (algebre)</option>
            </select>
          </div>
          <br>
          <!-- Choix date et heure minimum -->
          <div class="col-sm-1">
            <label for="datemin" class="form-label">Date min</label>
            <input type="date" class="form-control" name="datemin">
          </div>
          <div class="col-sm-1">
            <label for="heuremin" class="form-label">Heure min</label>
            <input type="time" class="form-control" name="heuremin">
          </div>

          <!-- Choix date et heure maximum -->
          <div class="col-sm-1">
            <label for="datemax" class="form-label">Date max</label>
            <input type="date" class="form-control" name="datemax">
          </div>
          <div class="col-sm-1">
            <label for="heuremax" class="form-label">Heure max</label>
            <input type="time" class="form-control" name="heuremax">

          </div>
          <div class="col-sm-1 mt-5">
            <input type="submit" class="btn btn-primary" name="go" value="Rafraîchir">
          </div>

        </div>
        <br>

        <div class="container mt-5">
          <h6 class="text-center alert text-white bg-primary">LISTE DES
            CRENEAUX</h6>
          <table class="table table-info table-hover">

            <thead>
              <tr>
                
                <th scope="col">num</th>
                <th scope="col">début</th>
                <th scope="col">fin</th>
                <th scope="col">cours</th>
                <th scope="col">salle</th>
                <th scope="col">prof</th>

              </tr>
            </thead>
            <tbody>


              

              
             {% for creneau in creneaux%}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{creneau.date_debut}}</td>
                <td>{{creneau.date_fin}}</td>
                <td>{{creneau.cours}}</a></td>
                <td>{{creneau.salle}}</td>
                <td>{{creneau.prof}}</td>
              </tr>
             {% endfor %}

              </tbody>
        </div>




        </tbody>

        </table>
    </div>
    <p>
      <a href="{% url 'createPlanning' %}">Créer un nouveau créneau</a>
    </p>

    {% endblock content %}